@white: #fff;
@gray: #979797;
@d-gray: #484848;
@light-gray: #dcdcdc;
@chalk: #3c3c3c;
@blue: #5395e0;
@pastel-blue: #4b8ed9;
@dark-blue: #325e90;
@king-blue: #202b34;
@light-blue: #9cd6f7;
@sky-blue: #54cef6;

@pink: #e82f7a;
